.warning {
  color: #e4a51f;
  background-color: #fdf7ec;
  border: 1px solid #e4a51f;
}

.success {
  border: 1px solid #3b9620;
  color: #3b9620;
  background-color: #f0fbed;
}

.error {
  border: 1px solid #b92424;
  color: #b92424;
  background-color: #fbeded;
}

.info {
  border: 1px solid #248ab9;
  color: #248ab9;
  background-color: #edf1fb;
}
